*{
    box-sizing: border-box;
}
body{
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container{
    position: relative;
    width:779px;
    height:541px;
    margin: 0 auto;
    margin-top: 20px;
}

.game-container canvas{
    image-rendering: pixelated;
}