.TextMessage{
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
    padding: 4px;
    background: var(--menu-background);
    border: 3px solid var(--menu-selected-background);
    border-style: dashed;
    color: var(--menu-font-color);
}

.TextMessage_p{
    margin: 2%;
    font-size: 25px;
}

.TextMessage span{
   opacity: 0;
}

.TextMessage span.revealed{
    opacity: 1;
 }

.TextMessage_button{
    margin: 0;
    font-size: 23px;
    height: 50px;
    font-family: inherit;
    cursor: pointer;
    position: absolute;
    right: 5px;
    color: white;
    bottom: 5px;
    border: none;
    border-radius: 5px;
    background: var(--dialog-background);
}